.card {
  display: flex;
  flex-direction: column;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  cursor: pointer;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  position: relative;
}
.card__container {
  width: 200px;
  height: 280px;
}
.card__container > img {
  display: flex;
  cursor: zoom-in;
  border-radius: 16px;
  object-fit: cover;
  width: 200px;
  height: 150px;
  flex-wrap: wrap;
}
.card__description {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  color: black;
}
.card__description h1 {
  font-size: 20px;
}
.card__description p {
  font-size: 14px;
  font-weight: 400;
}
.card__button {
  display: flex;
  background-color: orange;
  width: 110px;
  height: 25px;
  border-radius: 4px;
  padding: 2px 2px 2px 0px;
  margin-top: 15px;
  justify-content: center;
}
.card__button > h1 {
  font-size: 20px;
}
