.modal__content {
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 32px;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  /* background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; */
}
.modal__content__intro {
  text-align: center;
  font-size: 14px;
  padding: 15px;
}
